<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="backdrop - Human Interface Guide"/>
    <meta name="author" content="http://goutamdey.com"/>
    <title>backdrop - Human Interface Guide</title>

    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/hig-theme-core.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/font-awesome.min.css">


    <script src="{{ site.baseurl }}assets/js/jquery-1.11.1.min.js"></script>


</head>
<body class="page-body">
    <div class="bd-top-color-bar navbar-fixed-top"></div>

    <div class="page-container">
        {% include side-menu.html %}
        
        <div class="main-content">
          {% include mini-nav.html %}